.profile-form {
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
}

.profile-form__title {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
}

.profile-form__image-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 5px;
}

.profile-form__circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #d9d9d9;
    object-fit: cover;
    display: block;
}

.profile-form__image-label {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ff4d4b;
    color: #ff4d4b;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
}

.profile-form__image-label input {
    display: none;
}

.profile-form__group {
    margin-bottom: 10px;
    text-align: left;
    max-width: 100%;
}

.profile-form__label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.profile-form__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 18px;
}

.profile-form__button-submit {
    width: 100%;
    padding: 15px;
    background-color: #ff4d4b;
    /* 画像に近い赤 */
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

/* バリデーション */
.profile-form__error-message {
    min-height: 25px;
    height: auto;
    margin-bottom: 5px;
    color: #ff4d4b;
    font-size: 14px;
    text-align: left;
}

.profile-form__error-note {
    margin-top: 4px;
    font-weight: bold;
    line-height: 1.4;
}
