@import "index.css";
/* 共通スタイルを読み込み */

.mypage__profile {
    margin-bottom: 40px;
    padding: 40px 0;
}

.mypage__profile-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.mypage__profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
}

.mypage__profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage__profile-name {
    font-size: 24px;
    flex-grow: 1;
}

.mypage__profile-edit-btn {
    padding: 8px 16px;
    border: 2px solid #ff4d4d;
    color: #ff4d4d;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
